<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("home_tool_rizjqh", crop: :fill )%>');" >
  <h1>A tool for every job</h1>
</div>

<ul class="toolcards">
 <% @tools.each do |tool|%>
  <li>
    <%= link_to tool_path(tool), class:"toolcard" do %>
      <div class="toolcard__image" alt="">
        <% if tool.photos.attached? %>
           <%= cl_image_tag(tool.photos.first.key, class: "toolcard_image", crop: :scale) %>
        <% end %>
      </div>
      <div class="toolcard__overlay">
        <div class="toolcard__header">
          <svg class="toolcard__arc"><path class d = "M 40 80 c 22 0 40 -22 40 -40 v 40 Z" /></svg>
          <div class="avatar toolcard__thumb">
            <% case tool.category %>
            <% when Tool::CATEGORIES[0]%>
              <%= cl_image_tag('jhm0dvyrpritzt8c8qmbgldzum3r',borderradius: 50, width: 50, crop: :fill, gravity: :face)%>
            <% when Tool::CATEGORIES[1]%>
            <% when Tool::CATEGORIES[2]%>
            <% when Tool::CATEGORIES[3]%>
            <% end %>
          </div>
          <div class="toolcard__header-text">
            <h3 class="toolcard__title"><%=tool.name%></h3>
            <span class="toolcard__status">price per day: €<%=(tool.price_day).round(2)%></span>
          </div>
        </div>
        <p class="toolcard__description"><%=tool.description %></p>
      </div>
    <% end %>
  </li>

 <% end %>
 </ul>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= link_to "create a new tool", new_tool_path %>
