<div class="index-banner" >
<h1>Tools index</h1>
</div>

<ul class="toolcards">
 <% @tools.each do |tool|%>
  <li>
    <a href="tool/<%=tool.id%>" class="toolcard">
      <div class="toolcard__image" alt="">
           <%#= cl_image_tag("ikiqbip4sz6st05f8enj", crop: :fill) %>
      </div>
      <div class="toolcard__overlay">
        <div class="toolcard__header">
          <svg class="toolcard__arc"><path class d = "M 40 80 c 22 0 40 -22 40 -40 v 40 Z" /></svg>
          <div class="avatar toolcard__thumb">
            <%#= cl_image_tag("vux0ned3dr0a3gb4lf3h",borderradius: 50, width: 50, crop: :fill, gravity: :face)%>
          </div>
          <div class="toolcard__header-text">
            <h3 class="toolcard__title"><%=tool.name%></h3>
            <span class="toolcard__status">price per day: €<%=(tool.price_day).round(2)%></span>
          </div>
        </div>
        <p class="toolcard__description"><%=tool.description %></p>
      </div>

    </a>
  </li> %>
<%# end %>
<%# </ul> %>

<% @tools.each do |tool| %>
<li><%= link_to tool.name, tool_path(tool) %>: <%= tool.price_day %>$ per day with a deposit of <%= tool.price_deposit %></li>
<% end %>


<%= link_to "create a new tool", new_tool_path %>

