
<div class="container title-new-tool">
  <h1>Add your Tool</h1>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <%= simple_form_for [@tool] do |f| %>
      <%= f.input :name %>
      <%= f.input :price_day %>
      <%= f.input :price_deposit %>
      <%= f.input :category, collection:Tool::CATEGORIES, as: :select %>
      <%= f.input :description %>
      <%= f.input :custom_field, as: :boolean,
                input_html: {id: "user_address_checking"},
                label: "Use a different address for your tool then your home address"
                %>
      <%= f.input :address,
                id: 'tool_address'%>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button_button t(".CREATE MY TOOL"), name: "submit", class: "btn btn-new-tool" %>
      <% end %>
    </div>

  </div>
</div>
