<h1>New Tool</h1>
<%# formulaire pour créer %>
<div class="container my-5">
  <div class="row">
    <div class="col-4 mx-auto">
      <%= simple_form_for [@tool] do |f| %>
      <%= f.input :name %>
      <%= f.input :price_day %>
      <%= f.input :price_deposit %>
      <%= f.input :category %>
      <%= f.input :description %>
      <%= f.input :custom_field, as: :boolean,
                input_html: {id: "user_address_checking"},
                label: "Use a different address for your tool then your home address"
                %>
      <%= f.input :address,
                id: 'tool_address'%>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit %>
      <% end %>
    </div>

    <% if policy(Tool).create? %>
      <%= link_to "New Tool", new_tool_path %>
    <% end %>

  </div>
</div>
