<br>
<div class="container" id="tool-detail">
  <h1><%= @tool.name %></h1>
  <br>
  <div>
    <img class="tool-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
  <div>
    <div class="info">
      <p><%= @tool.description %></p>
    </div>
    <div class="prices">
      <p><%= @tool.price_day %> $</p>
      <p><%= @tool.price_deposit %> $</p>
    </div>
  </div>
  <a href=""><%= link_to "BOOK NOW", new_tool_booking_path(@tool), class: "btn btn-gradient" %></a>
  <br>

  <br>
  <div class="link">
    <br>
<<<<<<< HEAD
    <%= link_to "Back to list", "/tools?category=#{@toll.category}", class: "back-list" %>
=======
    <%= link_to "Back to list", "/tools?category=#{@tool.category}", class: "back-list" %>
>>>>>>> ad693916de903325102f5e050f163ea1c42e8b9f
    <%= link_to "Edit a tool", edit_tool_path(@tool), class: "tool-edit" %>
    <%= link_to "Back to home", root_path, class: "back-home" %>
  </div>
</div>
