<br>
<div class="container" id="booking-grid">

    <div id="tool-detail">
      <div>
          <h1 class="booking-title"><%= @tool.name %></h1>
        <br>
        <div class="tool-image" id="tool-image">
          <%= cl_image_tag @tool.photos.first.key, class: "tool-image", crop: :thumb%>
        </div>
        <div id="text-align-center">
          <div class="info">
            <p><%= @tool.description %></p>
          </div>
          <div class="prices">
            <p>Price: <strong><%= @tool.price_day %>$ per day</strong></p>
            <p>Deposit: <strong><%= @tool.price_deposit %>$</strong></p>
          </div>
        </div>
      </div>

      <div class="link">
        <%= link_to "See the category", "/tools?category=#{@tool.category}", class: "show-link" %>
        <%= link_to "Edit your tool", edit_tool_path(@tool), class: "show-link" %>
      </div>

    </div>

    <div id="booking-detail">
      <div>
        <h1 class="booking-title">Booking dates</h1>
          <div class="px-2">
              <%= simple_form_for [@tool, @booking] do |f| %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <div class="btn-center">
                <%= f.button_button t(".BOOK NOW"), name: "submit", class: "btn btn-search-calendar" %>
              </div>
              <% end %>
          </div>
      </div>
    </div>

</div>
