  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("home_tool_rizjqh", crop: :fill )%>');">
      <div>
        <h1>BRICOTHEQUE</h1>
        <p>Find the perfect tool, right next to you !</p>
        <%= simple_form_for :search, url: tools_path, method: :get do |f| %>
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-search" id="bouton">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        <% end %>
      </div>
  </div>

  <br>
  <div class="container container-cards">
    <div class="cards">

      <div class="card-category-home image-home">
          <%= link_to tools_path(category: "garden") do %>
            <div class="position-text" style="background: linear-gradient(307deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.6) 0%), url('<%= image_path('gardening.webp') %>'); background-size: cover; height: 100%;">
              <p id="category-name">Garden</p>
            </div>
          <% end %>
      </div>

      <div class="card-category-home image-home">
        <%= link_to tools_path(category: "machinery") do %>
          <div class="position-text" style="background: linear-gradient(307deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.6) 0%), url('<%= image_path('machinery.jpeg') %>'); background-size: cover; height: 100%;">
            <p id="category-name">Machinery</p>
          </div>
        <% end %>
      </div>

      <div class="card-category-home image-home">
        <%= link_to tools_path(category: "home") do %>
          <div class="position-text" style="background: linear-gradient(307deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.6) 0%), url('<%= image_path('home_tool.png') %>'); background-size: cover; height: 100%;">
            <p id="category-name">Home</p>
          </div>
        <% end %>
      </div>

      <div class="card-category-home image-home">
        <%= link_to tools_path(category: "mechanic") do %>
          <div class="position-text" style="background: linear-gradient(307deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.6) 0%), url('<%= image_path('my-mechanic.jpeg') %>'); background-size: cover; height: 100%;">
            <p id="category-name">Mechanic</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<div id="text-home-logo">
  <p>----</p>
  <h1>Discover all our tools to rent</h1>
</div>

  <div class="container container-cards">
    <ul class="card-trip-ul">
    <% @tools.each do |tool| %>
      <li class="card-tool-index">
        <%= link_to tool_path(tool) do %>
          <div class="card-trip">
            <%= cl_image_tag(tool.photos.first.key, class: "toolcard_image", crop: :scale) %>
            <div class="card-trip-infos">
              <div id="card-trip-description">
                <h2><strong><%=tool.name%></strong></h2>
                <p><%=tool.description%></p>
              </div>
              <div class="prices_info">
                <h2 class="card-trip-pricing" id="price_day">PRICE: <strong><%=(tool.price_day).round(2)%> $</strong> / DAY</h2>
                <h2 class="card-trip-pricing" id="price_deposit">DEPOSIT: <strong><%=(tool.price_deposit).round(2)%> $</strong></h2>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
